<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">Rooms</span>
  <div class="tabs right">
    <% for(var i = 0; i < categories.length; i++){ %>
    <a href="/rooms/?category=<%= categories[i] %>" <% if(i===0){ class="active" } %> ><%= categories[i] %></a>
    <% } %>
  </div>
</div>

<h2>imagine that here lie room cards</h2>

<script>
  /**
   * this way pagination is consistent across all the pages. Call it as needed.
   */
  (function($,currentItem,totalItems){
    $(function(){
      paginate($,currentItem,totalItems)
    })
  })(window.jQuery,1,10)

  <% if (user) { %>
  (function($,roomspan){
    var room = $(roomspan)
    room.append( $('<span>').addClass('button').attr('id','addRoom').text('add room') )
    room.append( $('<span>').addClass('button').attr('id','showClosed').text('show closed rooms') )
  })(window.jQuery,'#roomspan')
  <% } %>
  
  <% if (user && user.isAdmin) { %>
  (function($,roomspan){
    var room = $(roomspan)
    room.append( $('<span>').addClass('button').attr('id','showDeleted').text('show deleted rooms') )
  })(window.jQuery,'#roomspan')
  <% } %>
  
</script>