<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">Rooms</span>
  <div class="tabs right">
    <a>thing1</a>
    <a class="active">thing2</a>
    <a>thing3</a>
    <a>thing4</a>
    <a>thing5</a>
    <a>thing6</a>
  </div>
</div>

<h2> imagine that here lie room cards </h2>
<% for (var room in rooms) { %>
  <div>
    <%= rooms[room].name %>
  </div>
<% } %>

<script>
  /**
   * this way pagination is consistent across all the pages. Call it as needed.
   */
  (function _runIt($,currentItem,totalItems){
    $(function _notAnon(){
      paginate($,currentItem,totalItems);
    })
  })(window.jQuery,1,10);

  <% if (user) { %>
  (function($,roomspan){
    var room = $(roomspan)
    room.append( $('<span>').addClass('button').attr('id','addRoom').text('add room') )
    room.append( $('<span>').addClass('button').attr('id','showClosed').text('show closed rooms') )
  })(window.jQuery,'#roomspan');
  
  <% if (user && user.isAdmin) { %>
  (function($,roomspan){
    var room = $(roomspan)
    room.append( $('<span>').addClass('button').attr('id','showDeleted').text('show deleted rooms') )
  })(window.jQuery,'#roomspan');
  <% } %>
  
  
  
</script>
