<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">Please choose a source to login with</span>
  <div class="tabs right">
    <a class="active">Login Sources</a>
  </div>
</div>

<a href="/auth/google">Log in using google</a>
<br>
<a href="/auth/github">Log in using github</a>
<br>