<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">Please choose a source to login with</span>
  <div class="tabs right">
    <a class="active">Login Sources</a>
  </div>
</div>

<div class="spacer">
</div>
<div class="spacer">
</div>

<table border="0">
<tr>
<td>
<a href="/auth/google"><img src="/img/googlelogo.png"><br>Log in using google</a>
</td>
<td>
<a href="/auth/github"><img src="/img/githublogo.png"><br>Log in using github</a>
</td>
<td>
</td>
<td>
</td>
</tr>
<table>
<br />
<a href="/register">
    Register with us
</a>
<br />
<a href="/login">
    Login with us
</a>