<div class="spacer"></div>
<h2> auth page </h2>
<div class="viewHeader">
  <span class="viewTitle">Please choose a source to login with</span>
  <div class="tabs right">
    <a class="active">login sources</a>
  </div>
</div>

<a href="/auth/google">Log in using google</a>
<br>
<a href="/auth/github">Log in using github</a>
<br>