!!! 5
html(lang="en")
  head
    title= typeof(title) !== 'undefined' ? title : "StackChat"
    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.io-demo.js')
  body
    nav
        a(href='/auth/github') 
            img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png')
    #main
      != body

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25222034-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
