<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="This website is an entry for nodeknockout2011">
  <meta name="author" content="jcolebrand, raynos, yojimbo87">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/site.css">
  <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
  <script src='/socket.io/socket.io.js'></script>
</head>
<body>
  <noscript>
    <h1>This site was pretty much written entirely in javascript. If you don't use javascript on the client you're missing out entirely. Please use javascript.</h1>
  </noscript>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <div id="voteslug">
      <iframe src="http://nodeknockout.com/iframe/so642" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
  </div>
<div id="container">
  <div id="main" role="main">
    <div class="content paged">
<!-- render the body here -->
<%- body %>
    </div>
  </div>
  <header class="boundary background">
    <div class="content">
      <div id="logoblock" class="left">
        <a class="logotext" href="/">
          <img src="/img/logo-med.png" title="StackChat - Web chat done right" class="left" />
          <span class="left">STACK<br/>CHAT</span>
        </a>
      </div>
      <div id="searchblock" class="right padlink">
        <input type="text" size="25" name="search" value="Search" id="search" class="untouched"/>
      </div>
      <div id="linkblock" class="right padlink">
        <% if (user) { %>
          <a href="<%=user.userLink%>"><%=user.name%></a>
        <% } else { %>
          <a href="/auth/google"> google log in </a>
          <a href="/auth/github"> github log in </a>
        <% } %>
        
        <a href="/users">users</a>
        <a href="/rooms">rooms</a>
        <a href="/faq">faq</a>
      </div>
    </div>
  </header>
  <footer>
    <div class="pagerholder">
      <div class="content">
        <div id="bottomPager" class="pager left">
        </div>
        <div class="roomspan right">
        </div>
      </div>
    </div>
    <div class="boundary background">
      <div class="content padlink">
        <a href="/faq" >faq</a>
        <a href="/legal" >legal</a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" class="right"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> 
      </div>
    </div>
  </footer>
</div> <!--! end of #container -->

<script>
  /**
   * paginate(currentItem,totalItems)
   */
  function paginate(currentItem,totalItems){
    var pager = $(bottomPager),
        class = '', /* I need this placeholder later */
        cI = currentItem,
        tI = totalItems,
        pages = 2, /* allows us to change the number of the pagination later */
        cP = 0, /* currentPage */
        tP = 0, /* totalPages */
        pI = 16, /* pagedItems -- the total items shown on page at one time */
        ctr = 0; /* loop counter */
    pager.empty()
    
    /* Example math
     * 300 items, 10 to a page, on item 21 
     * item 21 is the third page Math.ceil(21/10)
     * total pages is 30 Math.ceil(300/10)
     */
     
    cP = Math.ceil(cI/pI)
    tP = Math.ceil(tI/pI)
    
    if (cP > 1){
      pager.append( $('<span>').addClass('pagenumber prev').text('prev') )
    }
    /* if there were at least two previous pages, put a 1 and a space */
    if (cP > (pages + 1)){
      pager.append( $('<span>').addClass('pagenumber').text('1') )
      pager.append( $('<span>').addClass('pagenumber space').text('...') )
    }
    /* this is where we define the range of max to min for paging */
    for (ctr = -pages; ctr <= pages; ctr++){
      class = 'pagenumber'
      if (!ctr) { class += ' this' } /* aren't I a clever shit. If we're on counter 0 then that's this page */
      if ((cP + ctr) > 0 && (cP + ctr) <= tP){
        pager.append( $('<span>').addClass(class).text((cP + ctr)) )
      }
    }
    /* if there are at least two more pages, put a space and the last number */
    if (cP < (tP - pages)){
      pager.append( $('<span>').addClass('pagenumber space').text('...') )
      pager.append( $('<span>').addClass('pagenumber').text(tP) )
    }
    if (cP < tP){
      pager.append( $('<span>').addClass('pagenumber last').text('last') )
    }
  }
  
  /**
   * this is for the search box
   * wrapped in a closure for sanity
   */
  (function($,id){
    $(function(){
      $(id)
        .click( searchClick )
        .blur( searchBlur )
        .keypress( searchKeypress )
        .keyup( searchKeyup )
      
      function searchClick(event){
        var that = $(this)
        if (that && that.hasClass('untouched') && that.val() === 'Search' ){
          that.removeClass('untouched').val('')
        }
      }
      
      function searchBlur(event){
        var that = $(this)
        if (that && !that.hasClass('untouched') && ( that.val() === 'Search' || that.val() === '' )){
          that.addClass('untouched').val('Search')
        }
      }
      
      function searchKeypress(event){
        var that = $(this)
        /* if they press enter */
        if( that && event.which === 13 ){
          /* do something here to search for the value and redirect */
        }
      }
      
      function searchKeyup(event){
        var that = $(this)
        /* if they press esc */
        if( that && event.which === 27 ){
          that.val('')
        }
      }
    })
  })(window.jQuery,'#search');
</script>

<script>
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25222034-2']);
      _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
