<div class=spacer>
</div>
<div class=viewHeader>
  <span class=viewTitle>FAQ - Frequently Asked Questions</span>
  <div class=tabs right>
  </div>
</div>
<p>If you haven't read our FAQ ... you might</p>
<p>The <a href=http -//nodeknockout.com/>nodeknockout</a> (nko) team nko-so642 would like to thank all the sponsors</li> judges and vendors who helped with this contest. We had an absolute blast and learned a bit about node and about teamwork. And getting to do it on someone else's hardware is always fun ;). So many thanks to all those involved</li> we had a great time in this year's competition.</p>
<p>Moving on - We would like to recognize our us of all of the following bits of software</li> and mention that we used them in our codebase. (in no particular order we have)</p>
<ul>
<li>node - Joyent</li>
<li>Linode - use of their servers</li>
<li>jQuery</li>
<li>StackExchange - implementation concept for duplication</li>
<li>HTML5 Boilerplate - http -//html5boilerplate.com/</li>
<li>$.debounce/$.throttle - http -//benalman.com/</li>
<li>$.scrollTo - http -//flesler.blogspot.com/2007/10/jqueryscrollto.html</li>
<li>Google Web Fonts - http -//www.google.com/webfonts</li>
<li>For the motorcycle in our logo - http -//www.clker.com/clipart-motorcycle.html</li>
<li>CC-BY-SA 3.0 - http -//creativecommons.org/</li>
<li><b>And all of the following NPM libraries</b> (findable via the <a href="http://search.npmjs.org/">npm website</a>)</li>
<li>express - 2.4.5</li>
<li>connect - 1.6.1</li>
<li>nko - *</li>
<li>less - 1.1.4</li>
<li>ejs - 0.4.3</li>
<li>traits - 0.4.0</li>
<li>socket.io - 0.7.9</li>
<li>after - 0.1.5</li>
<li>watch - 0.3.2</li>
<li>node-uuid - 1.2.0</li>
<li>connect-gzip - 0.1.0</li>
<li>buffertools - 1.0.3</li>
<li>everyauth - 0.2.18</li>
<li>redis - 0.6.7</li>
<li>cradle - 0.5.5</li>
</ul>
<p>We are fairly sure we haven't missed anyone, but if we did, you have our sincerest apologies. We wanted to acknowledge everyone that we know that we used their services of during this competition.</p>
<p>And finally ... if the source trees for these projects are not maintained by github after this event, we will be re-releasing this chat server into the wild and continuing development on it in the future.</p>
<p>Our license is the CC-BY-SA 3.0. Here's a pretty link.</p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">StackChat</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
<p>thanks everybody!</p>