.background {
  background-color: #aaa;
}
.red {
  color: #800000;
}
.black {
  color: #000000;
}
.boundary {
  min-height: 70px;
  max-height: 70px;
  height: 70px;
  overflow-y: hidden;
  width: 100%;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
}
footer, #chatter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow-y: hidden;
  min-height: 110px;
  max-height: 110px;
  height: 110px;
}
.container {
  height: 100%;
}
#main {
  margin: 70px 0px;
}
#main.paged {
  margin-bottom: 100px;
}
.content {
  width: 950px;
  margin: 5px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.left:after, .right:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.logotext {
  font-family: 'Aldrich', sans-serif;
  font-size: 18pt;
  padding-left: 10px;
  text-decoration: none;
  cursor: detail;
}
#searchblock {
  width: 200px;
  min-height: 40px;
  max-height: 40px;
  height: 40px;
}
#linkblock {
  width: 350px;
  min-height: 40px;
  max-height: 40px;
  height: 40px;
}
#voteslug {
  top: 15px;
  right: 0px;
  position: fixed;
  z-index: 100;
}
.padlink a {
  padding-left: 20px;
  color: #800000;
  font-family: 'Aldrich', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
}
#search {
  padding: 5px;
  font-family: 'Aldrich', sans-serif;
}
#search.untouched {
  color: #aaaaaa;
}
.pagerholder {
  background-color: #fff;
  width: 100%;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
.pager {
  font-family: 'Aldrich', sans-serif;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  background-color: #fff;
}
.pager .pagenumber {
  padding: 8px 6px;
  margin: 3px 1px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
.pager .pagenumber.this {
  background-color: #ccc;
  cursor: default;
}
.pager .pagenumber.space {
  cursor: default;
  border: none;
  padding: 0px;
}
.pager .pagenumber.prev,
.pager .pagenumber.next,
.pager .pagenumber.first,
.pager .pagenumber.last,
.pager .pagenumber.space {
  border: 1px solid #fff;
}
.pager .pagenumber.prev.hidden,
.pager .pagenumber.next.hidden,
.pager .pagenumber.first.hidden,
.pager .pagenumber.last.hidden,
.pager .pagenumber.space.hidden {
  visibility: hidden;
}
.roomspan {
  font-family: 'Aldrich', sans-serif;
}
.button {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #800000;
  margin: 5px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 50px;
  max-width: 150px;
  overflow: hidden;
  max-height: 20px;
  min-height: 20px;
  height: 20px;
  cursor: pointer;
}
.spacer {
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}
.viewHeader {
  font-family: 'Aldrich', sans-serif;
  border-bottom: thin solid black;
}
.viewTitle {
  font-size: 150%;
}
.viewHeader .tabs a:hover {
  border: thin solid black;
  border-bottom-color: white;
}
.viewHeader .tabs a {
  padding: 5px 20px 8px;
  margin: 5px 10px 5px;
  background: inherit;
  border: thin solid white;
  border-bottom-color: black;
  color: #000;
}
.viewHeader .tabs a.active {
  padding: 15px 20px 8px;
  border: thin solid black;
  border-bottom-color: white;
  color: #800000;
}
/* chat file */
#transcript {
  width: 69%;
  height: 1000px;
  position: relative;
  margin-bottom: 120px;
  /* matches the input holder but leaves a small gap for buffer  */

}
#chatter {
  width: 70%;
}
#roominfopanel {
  width: 30%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #eeffee;
  position: fixed;
}
#chatter img {
  margin: 4px;
  background-color: #ccc;
  width: 100px;
  min-width: 100[x;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  border: thin solid black;
}
#input {
  width: 95%;
  height: 88px;
  margin: 8px 4px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #BDBDBD;
  background-color: #FBF2D9;
  color: #222;
  max-height: 90px;
  background-repeat: repeat-x;
  padding: 2px;
}
#chatter .button {
  padding: 2px 8px;
  margin: 2px;
  min-width: 30px;
  height: 18px;
  max-height: 18px;
  min-height: 18px;
}
.sidebarpanel {
  width: 96%;
  margin: 5px auto;
  min-height: 20px;
  background-color: red;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/*html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }*/
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
